* {
    box-sizing: border-box;
}

#game {
    display: none;
}

#rematch {
    display: none;
}

#game-over {
    display: none;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
    margin: 0;
}

#introPage, .gameplayContainer {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #ebddceff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startGame {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer; /* Optional: Add pointer cursor for usability */
    outline: none;   /* Optional: Remove the focus outline */
    text-decoration: none;
    transform: scale(1.5);
}

.gameRules {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup-text {
    color: black;
    display: none;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 40px 40px 80px 40px;
    width: auto;
    height:auto;
    text-align: justify;
    background:
    conic-gradient(from -45deg at bottom,transparent,white 1deg 89deg,transparent 90deg) 50%/80px 100% repeat;
}
  
  .gameRules:hover .popup-text {
    display: block;
  }  

#header {
    margin: 0 auto;
    position: relative;
}

#row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup-text {
    font-size: 1rem;
}

#row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1, #startGame, .gameRules {
    font-family: 'Unbounded', sans-serif;
    margin: 0;
    color: #4a73f0;
    font-size: 13rem;
}
  .squiggle1 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(1.5);
  }

  .squiggle2 {
    position: absolute;
    left: 0;
    bottom: 320px;
  }

#buttonContainer,
.gameplayContainer {
    flex: 1;
}

#buttonContainer {
    background-color: #ebddceff;
    display: none;
    flex-direction: column;
    align-items: flex-end; /* Start buttons from the left edge */
    justify-content: space-evenly; /* Center align buttons vertically */
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding-right: 40px;
    transition: transform 0.3s ease-in-out;
}

/* Style for buttons */
.buttonContainer img {
    width: 900px;
    height: auto;
}


#paperButton:hover {
    transform: rotate(4deg);
    animation: wiggle 0.5s linear 3 alternate;
}

#rockButton:hover {
    transform: rotate(4deg);
    animation: wiggle 0.5s linear 3 alternate;
}

#scissorsButton:hover {
    transform: rotate(4deg);
    animation: wiggle 0.5s linear 3 alternate;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(-4deg);
    }
}


@media (min-width: 2000px) {
    .buttonContainer img {
        width: 100%;
    }
}

.gameplayContainer {
    background-color: #ffff;
    height: 100vh;
}